<div id="brand-symbol" class="noden-symbol" aria-label="Símbolo NODEN">
	<svg viewBox="0 0 1024 1024" role="img">
		<defs>
			<linearGradient id="gradTop" x1="0%" y1="50%" x2="100%" y2="50%">
				<stop offset="0%" stop-color="#4236ff" />
				<stop offset="45%" stop-color="#1f69ff" />
				<stop offset="100%" stop-color="#13d5f2" />
			</linearGradient>

			<linearGradient id="gradLeft" x1="0%" y1="50%" x2="100%" y2="50%">
				<stop offset="0%" stop-color="#c52aff" />
				<stop offset="55%" stop-color="#8b31ff" />
				<stop offset="100%" stop-color="#3347ff" />
			</linearGradient>

			<linearGradient id="gradRight" x1="0%" y1="50%" x2="100%" y2="50%">
				<stop offset="0%" stop-color="#2454ff" />
				<stop offset="50%" stop-color="#089dff" />
				<stop offset="100%" stop-color="#17d9ef" />
			</linearGradient>

			<linearGradient
				id="gradFlowMain"
				x1="300"
				y1="540"
				x2="650"
				y2="515"
				gradientUnits="userSpaceOnUse"
			>
				<stop offset="0%" stop-color="#a835ff" stop-opacity="0" />
				<stop offset="12%" stop-color="#a835ff" stop-opacity="0.22" />
				<stop offset="24%" stop-color="#a835ff" stop-opacity="0.72" />
				<stop offset="43%" stop-color="#8b3cff" stop-opacity="0.96" />
				<stop offset="65%" stop-color="#6252ff" stop-opacity="0.96" />
				<stop offset="82%" stop-color="#327fff" stop-opacity="0.72" />
				<stop offset="94%" stop-color="#209cff" stop-opacity="0.20" />
				<stop offset="100%" stop-color="#209cff" stop-opacity="0" />
			</linearGradient>

			<linearGradient
				id="gradFlowRight"
				x1="500"
				y1="800"
				x2="690"
				y2="560"
				gradientUnits="userSpaceOnUse"
			>
				<stop offset="0%" stop-color="#4b4dff" stop-opacity="0" />
				<stop offset="12%" stop-color="#4b4dff" stop-opacity="0.20" />
				<stop offset="25%" stop-color="#4b4dff" stop-opacity="0.70" />
				<stop offset="48%" stop-color="#4657ff" stop-opacity="0.94" />
				<stop offset="70%" stop-color="#3467ff" stop-opacity="0.90" />
				<stop offset="88%" stop-color="#2675ff" stop-opacity="0.58" />
				<stop offset="96%" stop-color="#1f69ff" stop-opacity="0.16" />
				<stop offset="100%" stop-color="#1f69ff" stop-opacity="0" />
			</linearGradient>
		</defs>

		<!--
			Os conectores vêm primeiro para ficarem atrás dos anéis.
			Assim, o próprio stroke dos círculos cobre as pontas/emendas.
		-->


		<g id="pos-home" transform="translate(525 310)">
			<g id="idle-home" class="intro-idle">
				<g id="node-home" class="node node-home">
					<circle class="module-ring ring-top" cx="0" cy="0" r="180" />

					<g class="node-icon home-icon">
						<g transform="translate(0 10) scale(0.9)">
							<path d="M -62 7 L 0 -48 L 62 7" />
							<path d="M -45 0 V 70 H 45 V 0" />
							<path d="M -15 70 V 28 H 15 V 70" />
						</g>
					</g>
				</g>
			</g>
		</g>

		<g id="pos-game" transform="translate(305 706)">
			<g id="idle-game" class="intro-idle">
				<g id="node-game" class="node node-game">
					<circle class="module-ring ring-left" cx="0" cy="0" r="180" />

					<g class="node-icon game-icon">
						<g transform="translate(0 -49) scale(0.74)">
							<path d="M -95 -18 H 95 C 135 -18 158 20 148 65 L 137 108 C 128 142 92 151 66 124 L 34 84 H -34 L -66 124 C -92 151 -128 142 -137 108 L -148 65 C -158 20 -135 -18 -95 -18 Z" />
							<path d="M -78 30 V 80 M -103 55 H -53" />
							<circle cx="77" cy="30" r="10" />
							<circle cx="103" cy="66" r="10" />
						</g>
					</g>
				</g>
			</g>
		</g>

		<g id="pos-data" transform="translate(750 706)">
			<g id="idle-data" class="intro-idle">
				<g id="node-data" class="node node-data">
					<circle class="module-ring ring-right" cx="0" cy="0" r="180" />

					<g class="node-icon data-icon">
						<g transform="translate(0 -9) scale(0.84)">
							<ellipse cx="0" cy="-58" rx="72" ry="28" />
							<path d="M -72 -58 V 0 C -72 25 -39 46 0 46 C 39 46 72 25 72 0 V -58" />
							<path d="M -72 0 V 58 C -72 83 -39 104 0 104 C 39 104 72 83 72 58 V 0" />
						</g>
					</g>
				</g>
			</g>
		</g>
		<g id="connector-layer" class="connector-layer">
			<g
				id="connector-flow-main"
				class="connector-piece"
				transform="translate(0 -58)"
			>
				<path
					class="flow flow-main"
					d="M 300 582 C 430 604 515 582 600 530"
				/>
			</g>

			<g
				id="connector-flow-right"
				class="connector-piece"
				transform="translate(-42 0)"
			>
				<path
					class="flow flow-right"
					d="M 515 771 C 560 700 620 610 688 559"
				/>
			</g>
		</g>
	</svg>
</div>
